.plan-button{
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: medium ;
    background-color:#ffff;
    color:#22668D;
    font-family: 'product sans';
    width: 40%;
    border:2.5px solid #1d5c9b95;

    
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425); */
}
.button-container{
    display:flex;
    justify-content: center;
    align-items: end;
    height: 4em;
}

.plan-button:hover{
    background-color:#1d5c9bc4;
    color: white;
    transition: 0.3s;
    cursor: pointer;
     
}
